.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 20px; /* Added */
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

