{% extends "betting_app/base.html" %}

{%block title%} Profile {% endblock%}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4">
        {% if messages %}
            {% for message in messages %}
                <div id="msg" class="alert {{ message.tags }} alert-dismissible fade show" role="alert">{{message}}</div>
            {% endfor %}
        {% endif %}
        <div>
            <h2>{{ player.nickname }}</h2>
            <div>
                <i style="color: green">Online</i> 
            </div>
            <div>
                <img class="rounded-circle" src="{{player.image.url}}" width="200px">
            </div>
        </br>
        <div>
            <h4 style="font-weight:normal"> Points: <span style="color: #dc3545;"> {{ points | default_if_none:"0"  }}</span></h4>
            <hr>
        </div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Profile Info</legend>
                <hr>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
            <hr>
        </div>

        </div>
    </div>

<script>
    function fade_out() {
            $(".alert").fadeOut();
        }; 
    setTimeout(fade_out, 3000);
</script>
{% endblock %}